body {
  margin: 0;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  background: #8fb9f3;
}

h1 {
  font-family: sans-serif;
  font-size: 30px;
  color: #2b1b52;
  text-shadow: 1px 2px #ffffff;
}

#app table {
  font-family: monospace;
  border-collapse: collapse;
  min-width: 500px;
}

#app td {
  padding: 0.5rem 0.75rem;
  border: 1px solid #2b1b52;
}

#app tr:nth-child(odd) {
  background-color: #fef1fb;
}

#app tr:nth-child(even) {
  background-color: #eef5ff;
}
